<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CucumberEasyTest" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Navigate to Google" annotations="JDK">
        <classes>
            <class name="OpenTests"/>
        </classes>
    </test>
</suite>